
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Hakkımızda</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="@Url.Action("Index","Default")">Ana Sayfa</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Hakkımızda</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="~/Content/img/about.jpg" alt="Image">
        </div>
        <div class="col-lg-6">
            <h2 class="display-4 font-weight-bold mb-4">10 Yıllık Tecrübe</h2>
            <p>FakeFit Spor Salonu, 10 yılı aşkın süredir sağlıklı yaşam biçimini teşvik eden bir lider olarak hizmet vermektedir. Vücut geliştirme ve fitness konularında geniş bir deneyime sahip ekibimiz, müşterilerimize en iyi sonuçları elde etmeleri için yol göstermektedir.</p>
            <div class="row py-2">
                <div class="col-sm-6">
                    <i class="flaticon-barbell display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Sertifikalı Spor Merkezi</h4>
                    <p>Spor merkezimiz bünyesinde bulunan tüm hocalarımız dünya çapında geçerli Personal Trainer sertifikalarına sahiptir.</p>
                </div>
                <div class="col-sm-6">
                    <i class="flaticon-medal display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Ödüllü Spor Merkezi</h4>
                    <p>Ülkemizde yapılan 10000 spor salonu üyesinin katıldığı ankette en iyi spor salonu seçilmenin haklı gururunu yaşıyoruz.</p>
                </div>
            </div>
            <a href="contact.html" class="btn btn-lg px-4 btn-outline-primary">Daha Fazla Bilgi İçin Tıklayın</a>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Features Start -->
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-training display-3 text-primary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Gelişme</h2>
                    <p>
                        Spor merkezimiz bünyesinde bulunan hocalarımızın hazırlayacağı kişiye özel programlar ile kısa sürede gözle görülür değişime sahip olacaksınız.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-primary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-weightlifting display-3 text-secondary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Egzersiz</h2>
                    <p>
                        Spor merkezimizde son model teknolojiye ait fitness alanımızda spor yapabilir, yüzme havuzlarımızda yüzebilir, saunlarımızda dinlenebilirsiniz.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-treadmill display-3 text-primary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Beslenme</h2>
                    <p>
                        Uzman diyetislerimizle kişiye özel beslenme programlarıyla hayal ettiğiniz vucüda ulaşmak artık çok kolay.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
<!-- Team Start -->
<div class="container pt-5 team">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Ekibimiz</h4>
        <h4 class="display-4 font-weight-bold">Uzman Eğitmen Kadromuzla Tanışın.</h4>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/Content/img/team-1.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <p>FakeFit Spor Salonu'nun kurucusu Furkan Erol, Üniversite eğitimini Doğuş Üniversitesi'nde tamamlayan Furkan, spor bilimi konusunda derin bir bilgi birikimine sahiptir. Spor salonumuzu 10 yıl önce kurarak, insanlara sağlıklı yaşam biçimine adım atmaları için ilham vermek ve rehberlik etmek amacıyla yola çıktı.</p>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Furkan Erol</h4>
                    <p class="card-text">Personel Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/Content/img/team-2.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <p>Numan Can, FakeFit Spor Salonu'nun önde gelen eğitmenlerinden biridir ve spor ve fitness alanındaki tutkusuyla tanınır. Geniş bilgi birikimi ve deneyimi, üyelerimize en iyi sonuçları elde etmeleri için rehberlik etmektedir.</p>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Numan Can</h4>
                    <p class="card-text">Personel Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/Content/img/team-3.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <p>Zahid Kılıç, FakeFit Spor Salonu'nun yetenekli eğitmenlerinden biridir ve spor ve fitness konularındaki uzmanlığı ile bilinir. Motivasyonu yüksek yaklaşımı ve geniş deneyimi, üyelerimize sağlıklı bir yaşam tarzına ulaşma konusunda ilham vermektedir.</p>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Zahid Kılıç</h4>
                    <p class="card-text">Personel Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/Content/img/team-4.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <p>Ali Öztürk, FakeFit Spor Salonu'nun deneyimli eğitmenlerinden biridir ve spor ve fitness alanındaki tutkusuyla dikkat çeker. Geniş bilgi birikimi ve motivasyonu sayesinde, müşterilerine sağlıklı bir yaşam tarzına ulaşmalarında yardımcı olmaktadır.</p>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Ali Öztürk</h4>
                    <p class="card-text">Personel Trainer</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
